soap/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="ReservationWS"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="ReservationWS"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="ReservationWS"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ReservationWS">
            <!-- +++++ -->
            <xsd:complexType name="TrainSearch">
                <xsd:sequence>
                    <xsd:element name="departureCity" type="xsd:string"/>
                    <xsd:element name="arrivalCity" type="xsd:string"/>
                    <xsd:element name="outboundDateTimeMin" type="xsd:string"/>
                    <xsd:element name="outboundDateTimeMax" type="xsd:string"/>
                    <xsd:element name="returnDateTimeMin" type="xsd:string"/>
                    <xsd:element name="returnDateTimeMax" type="xsd:string"/>
                    <xsd:element name="numberOfTickets" type="xsd:int"/>
                    <xsd:element name="travelClass" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Train">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="departureCity" type="xsd:string"/>
                    <xsd:element name="arrivalCity" type="xsd:string"/>
                    <xsd:element name="departureStation" type="xsd:string"/>
                    <xsd:element name="arrivalStation" type="xsd:string"/>
                    <xsd:element name="departureDateTime" type="xsd:string"/>
                    <xsd:element name="arrivalDateTime" type="xsd:string"/>
                    <xsd:element name="seatsAvailableBusiness" type="xsd:int"/>
                    <xsd:element name="priceBusiness" type="xsd:decimal"/>
                    <xsd:element name="seatsAvailableFirst" type="xsd:int"/>
                    <xsd:element name="priceFirst" type="xsd:decimal"/>
                    <xsd:element name="seatsAvailableStandard" type="xsd:int"/>
                    <xsd:element name="priceStandard" type="xsd:decimal"/>
                    <xsd:element name="company" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <complexType name="TrainList">
				<sequence>
					<element name="outboundTrains" type="tns:Train" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="returnTrains" type="tns:Train" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</complexType>
            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="mail" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Reservation">
                <xsd:sequence>
                    <xsd:element name="userMail" type="xsd:string"/>
                    <xsd:element name="userPassword" type="xsd:string"/>
                    <xsd:element name="outboundTrainId" type="xsd:int"/>
                    <xsd:element name="returnTrainId" type="xsd:int"/>
                    <xsd:element name="numberOfTickets" type="xsd:int"/>
                    <xsd:element name="travelClass" type="xsd:string"/>
                    <xsd:element name="flexible" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReservationDone">
                <xsd:sequence>
                    <xsd:element name="departureStation" type="xsd:string"/>
                    <xsd:element name="arrivalStation" type="xsd:string"/>
                    <xsd:element name="departureDateTime" type="xsd:string"/>
                    <xsd:element name="returnDateTime" type="xsd:string"/>
                    <xsd:element name="numberOfTickets" type="xsd:int"/>
                    <xsd:element name="travelClass" type="xsd:string"/>
                    <xsd:element name="flexible" type="xsd:boolean"/>
                    <xsd:element name="totalPrice" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReservationDoneList">
                <sequence>
					<element name="ReservationDones" type="tns:ReservationDone" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
            </xsd:complexType>
            <!-- +++++ -->
        </xsd:schema>
    </wsdl:types>

    <!-- +++++ -->
    <wsdl:message name="trainsAvailableRequest">
        <wsdl:part name="trainSearch" type="tns:TrainSearch"/>
    </wsdl:message>
    <wsdl:message name="trainsAvailableResponse">
        <wsdl:part name="result" type="tns:TrainList"/>
    </wsdl:message>
    <wsdl:message name="userRequest">
        <wsdl:part name="user" type="tns:User"/>
    </wsdl:message>
    <wsdl:message name="boolResponse">
        <wsdl:part name="result" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="makeReservationRequest">
        <wsdl:part name="reservation" type="tns:Reservation"/>
    </wsdl:message>
    <wsdl:message name="listReservationResponse">
        <wsdl:part name="reservations" type="tns:ReservationDoneList"/>
    </wsdl:message>
    <!-- +++++ -->

    <wsdl:portType name="ReservationWS">
        <!-- +++++ -->
        <wsdl:operation name="trainsAvailable">
            <wsdl:input message="tns:trainsAvailableRequest"/>
            <wsdl:output message="tns:trainsAvailableResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <wsdl:input message="tns:userRequest"/>
            <wsdl:output message="tns:boolResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testUser">
            <wsdl:input message="tns:userRequest"/>
            <wsdl:output message="tns:boolResponse"/>
        </wsdl:operation>
        <wsdl:operation name="makeReservation">
            <wsdl:input message="tns:makeReservationRequest"/>
            <wsdl:output message="tns:boolResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listReservation">
            <wsdl:input message="tns:userRequest"/>
            <wsdl:output message="tns:listReservationResponse"/>
        </wsdl:operation>
        <!-- +++++ -->
    </wsdl:portType>

    <wsdl:binding name="ReservationWS" type="tns:ReservationWS">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- +++++ --> 
        <wsdl:operation name="trainsAvailable">
            <soap:operation soapAction="http://127.0.0.1/server.php/trainsAvailable"/>
            <wsdl:input>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap:operation soapAction="http://127.0.0.1/server.php/addUser"/>
            <wsdl:input>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testUser">
            <soap:operation soapAction="http://127.0.0.1/server.php/testUser"/>
            <wsdl:input>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeReservation">
            <soap:operation soapAction="http://127.0.0.1/server.php/makeReservation"/>
            <wsdl:input>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listReservation">
            <soap:operation soapAction="http://127.0.0.1/server.php/listReservation"/>
            <wsdl:input>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="ReservationWS"/>
            </wsdl:output>
        </wsdl:operation>
        <!-- +++++ -->
    </wsdl:binding>

    <wsdl:service name="ReservationWS">
        <wsdl:port binding="tns:ReservationWS" name="TrainReservationWS">
            <soap:address location="http://127.0.0.1/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>